# Dependencies
node_modules/
package-lock.json

# Environment variables
.env
.env.*

# TypeScript build output
dist/
build/

# IDE specific files
.vscode/
*.iml
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Terraform files
*.tfstate
*.tfstate.*
*.tfvars
.terraform/
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc